html{
	box-sizing: border-box;
}
*, *::before, *::after{
	box-sizing: inherit;
}
.main {
  position: relative;
  width: 1000px;
  height: 600px;
}
.card-deck {
  position: relative;
  margin: 10px 0 0 10px ;
}
.card-img{
  position: absolute;
}
.cards-left{
  position: absolute;
  top: 20%;
  left: 1%;
  width: 100px;
  height: 50px;
  border: 1px solid black;
  padding-top: 13px;
  text-align: center;
}
.board-desk{
  position: absolute;
  left: 20%;
  top: 20%;
  display: flex;
  flex-wrap: wrap;
  width: 512px;
}
.board-space {
  padding: 0;
  width: 64px;
  height: 64px;
  border: 1px solid black;
  align-items: center;
}

.incorrect {
  border: 3px solid red;
  width: 60px;
  height: 60px;
  box-sizing: content-box;
}